*                 text=auto

*.bash            text eol=lf
*.bat             text eol=crlf
*.cmd             text eol=crlf
*.css             text diff=css
*.html            text diff=html
*.js              text
*.json            text eol=lf
*.py              text diff=python
*.sh              text eol=lf

*.ico             binary
*.jpg             binary
*.jpeg            binary
*.png             binary
*.svg             text
*.webp            binary

*.ttf             binary
*.eot             binary
*.otf             binary
*.woff            binary
*.woff2           binary